@font-face {
    font-family: 'Poppins';
    src: url(/src/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-thin';
    src: url(/src/assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Libre';
    src: url(/src/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Figtree';
    src: url(/src/assets/fonts/Figtree/Figtree-Regular.ttf);
}

@font-face {
    font-family: 'Figtree-light';
    src: url(/src/assets/fonts/Figtree/Figtree-Light.ttf);
}